.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#read{
	display: block;
	color: red;
	background-color: aliceblue;
	font-family: cursive;
	width: 200px;
}

h3 {
	background-color: white;
}
